includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - resources
        - routes
        - tests/Feature

    # The level 9 is the highest level
    level: 5

    checkMissingIterableValueType: false
